/node_modules
/public/hot
/public/storage
/public/TempDebug.log
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

app\Http\Controllers\HomeController.php
resources\views\dashboard.blade.php

resources/.DS_Store
.DS_Store

public/asset/.DS_Store
