.buttons_menu{
    color: #286fb7;
}

.background-main-color{
    background-color: #286fb7;
}

.main-color {
    background-color: #286fb7;
}

#header-table{
    min-height: 40px;
    background-color: #286fb7;
    text-align: center;
}



.week-header{
    padding: 0px;
    color: #fff;
    font-weight: bold;
    margin: 4px;
}

.header-color{
    height: 55px;
    width: 100%;
}

.caret{
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;
}

.list-group{
    border-radius: 10px;
}

table{
    font-size: 12px;
}

.week{

}

.fa-2x{

}




@media all and (min-width: 768) {

}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

}
/* ============ desktop view .end// ============ */

@media all and (min-width: 1366px) {

}

/* ============ large desktop view// ============ */

@media all and (min-width: 1024px) {

}

@media only screen and (max-width: 600px) {

}

